.post {
    margin-bottom: 70px;
}
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
h3 a {
    color: #FCA205;
    font-family: 'Lobster';
}

header
{
    color: #FCA205;
    font-family: 'Lobster';
}
img{
	width: 150px;
    height: 150px;
}
subheader
{
    color: #FCA200;
    font-family: 'Lobster';
}
#sidebar{
    width: 140px;
    
    background-color: #FAC450;
    float: left;
}
#content {
    margin-left: 0px;
    margin-top: 0px;
    background-color: #009400;
}
.cart{
    width: 100%;
    height: 30px;
    background-color: #aabbcc;
    text-align: right;
}
.product-list{
	margin-left: 140px;
	color: #FCA205;
	background-color: #ffffff;
    border-color:#FA922A;
    border-width: 1px;
    border-style: solid;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.product-detail{
	margin-left: 140px;
	color: #FCA205;
	background-color: #ddffff;
    margin-top: 10;
    padding: 20px 20px 20px 40px;
}
.order-info{
	margin-left: 10px;
    width: 200px;
    float: left;
	color: #FCA205;
	background-color: #ff00ff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.order-form{
	margin-left: 540px;
    width: 300px;
	color: #FCA2aa;
	background-color: #dd1fff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}