{% extends "base.html" %}
{% load static %}
{% block title %}
 {% endblock%}
{% block pageresource%}
<style type="text/css">
body #content #d3chart {
  max-width: 960px;
  margin: 10px;
}

#content #d3chart div {
  width: 10px;
  height: 10px;
  margin: 1px 0 0 1px;
  float: left;
  background: #eee;
  display: inline-block;
}

</style>
{% endblock %} 
{% block content %}
<script src="//d3js.org/d3.v4.0.0-alpha.24.min.js"></script>
<div id="d3chart"></div>
<script>

var n = 4002;

var whiteblue = d3.interpolateRgb("#eee", "steelblue"),
    blueorange = d3.interpolateRgb("steelblue", "orange"),
    orangewhite = d3.interpolateRgb("orange", "#eee");

d3.select("#d3chart").selectAll("div")
    .data(d3.range(n))
  .enter().append("div")
  .transition()
    .delay(function(d, i) { return i + Math.random() * n / 4; })
    .ease(d3.easeLinear)
    .on("start", function repeat() {
        d3.active(this)
            .styleTween("background-color", function() { return whiteblue; })
          .transition()
            .delay(1000)
            .styleTween("background-color", function() { return blueorange; })
          .transition()
            .delay(1000)
            .styleTween("background-color", function() { return orangewhite; })
          .transition()
            .delay(n)
            .on("start", repeat);
      });

</script>
{% endblock %} 
